{% extends 'base.html' %} {% block content %}

<!-- Register -->
<section id="register" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4><i class="fas fa-user-plus"></i> Register</h4>
          </div>
          <div class="card-body">
            {% include 'pages_component/_alert.html'%}
            <form action="{% url 'register' %}>" method="POST">
            {% csrf_token %}
            {% comment %} get value from form {% endcomment %}
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input
                  id="first_name"
                  type="text"
                  name="first_name"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input
                  id="last_name"
                  type="text"
                  name="last_name"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <label for="username">Username</label>
                <input
                  id="username"
                  type="text"
                  name="username"
                  class="form-control"
                  required
                />
              </div>
              
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  id="email"
                  type="email"
                  name="email"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <!-- this is labeled for accounts/views.py run function -->
                <!-- Confirm Password Label for and  below name must be one pair -->
                <input
                  id="password"
                  type="password"
                  name="password"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password_confirm">Confirm Password</label>
                <!-- this is labeled for accounts/views.py run function -->
                <!-- Confirm Password Label for and  below name must be one pair -->
                <input
                  id="password_confirm"
                  type="password"
                  name="password_confirm" 
                  class="form-control"
                  required
                />
              </div>

              <input
                type="submit"
                value="Register"
                class="btn btn-secondary btn-block"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


<!--
Register / Login action use method POST,
If success login, then give unique csrf token with time range for ex.1 hour, 

CRUD main function , bz CUD is database in/out right, expect Read function
-->